

* {
    font-size: 16px;
    color: #333;

    font-family:Noto Sans KR;
}

a {
    color: #333;
}

a:hover {
    color: #6e707e;
    text-decoration: none;
}

#wrapper #content-wrapper {
    background: #fafafa;
}

.container-fluid {
    margin-top: 3.5rem;
    min-height: calc(100vh - 8rem);
}

/*         top nav              */

.sidebar-brand {
    width: 11rem;
}

.navbar-brand {
    font-weight: BOLD;
}

.topbar {
    height: 3rem;
    background: #fff;
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #858796;
}

.nav-tabs > .nav-link.active {
    background: #f8f9fc;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    COLOR: #1cc88a;
    font-weight: BOLD;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
    COLOR: #1cc88a;
}

.topbar.navbar-light .navbar-nav:nth-last-child(1) {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.topbar.navbar-light .navbar-nav.main-nav .nav-item .nav-link span {
    margin: 0 auto;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
    content: '\f107';
}

.topbar .dropdown .dropdown-menu {
    top: 3rem;
    border: 0;
    border-radius: 0;
    background: rgb(76, 78, 89, .8);
    margin: 0;
}

.topbar .dropdown .dropdown-menu a.dropdown-item {
    color: #fff;
    text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background: #1cc88a;
}
.dropdown-item.active,
.dropdown-item:active{
    background: #1cc88a;
}

.navbar-expand .navbar-nav {
    height: 3rem;
    align-items: center;
}

.navbar-expand .navbar-nav * {
    font-size: 1rem;
}

.navbar-expand .navbar-nav > li {
    height: 100%;
}

.topbar .nav-item .nav-link {
    height: 3rem;
}

.navbar-expand .navbar-nav .collapse.show div {
    display: flex;
    flex-direction: column;
}

.text-center.d-none.d-md-inline {
    position: absolute;
    left: calc(50% - 1.25rem);
    top: calc(100vh - 4rem);
}



/*      scrollbar style     */
/* total width */
* ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px
}

/* background of the scrollbar except button or resizer */
* ::-webkit-scrollbar-track {
    background-color: transparent;
}

* ::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}

/* scrollbar itself */
* ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 2px solid #fff;
}

* ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 2px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
* ::-webkit-scrollbar-button {
    display: none
}




/*    form-control     */
.input-group > label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 0;
    border: 0;
    background: rgba(0, 0, 0, .05);
    height: 2.8rem;
    color: #333;
    font-size: .9em;
}


.form-control:focus {
    color: #4e73df;
    background-color: #d8e0f8;
    border-color: #4e73df;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group > label > i {
    font-size: 0.2rem;
    /* vertical-align: middle; */
    padding: 0rem .4rem;
}

.custom-select {
    border-radius: 0;
}

.custom-control-label::before {
    top: 0.15rem;
}

.custom-control-label::after {
    top: 0.15rem;
}

/*dropdown*/


/*    card    */
.card {
    border-radius: .5rem;
    border: 1px solid #c8c8c8;
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.card-header {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: .45rem 1.25rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.card-header:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 0;
}
.border-style-dash{
    border-style: dashed;
    border-width: 1px;
}

/*    table     */
table {
    table-layout: fixed;
}

.table td,
.table th {
    padding: .5rem;
    vertical-align: middle;
    font-weight: normal;
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.table td:last-child,
.table th:last-child {
    border-right: none;
}

.table-borderless th,
.table-borderless td {
    border: 0;
}

.table th {
    text-align: center;
}

/*    modal    */
.modal {
    overflow: auto;
}

.modal-content {
    border-radius: 0;
}

.h-modal-graph {
    height: 12rem;
}

.modal-content table th {
    text-align: left;
}

.modal-header .close,
.modal-header,
.modal-footer {
    padding: .8rem 2rem;
}

.dataTables_wrapper.no-footer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_length select {
    border-radius: 0;
    border: 0;
    background: #f8f9fc;
}


/*    datatTable    */


.dataTables_length {
    float: left;
}

.dataTables_filter {
    float: right;
}

.dataTables_info {
    float: left;
}

.dataTables_paginate.paging_simple_numbers.pagination {
    float: right;
}

.dataTables_wrapper .dataTable thead th {
    padding: .5rem 0.75rem;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    font-weight: 700;
}

.dataTables_wrapper .dataTable thead th:last-child {
    border-right: none;
}

.dataTables_wrapper .dataTable tbody tr td {
    padding: .5rem 0.75rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    font-weight: 500;
}

.dataTables_wrapper .dataTable tbody tr td:last-child {
    border-right: none;
}

.dataTables_wrapper .dataTable thead .sorting:after,
.dataTables_wrapper .dataTable thead .sorting_asc:after,
.dataTables_wrapper .dataTable thead .sorting_desc:after,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
    bottom: calc(50% - 1em);
}

.dataTables_wrapper .dataTable thead .sorting:before,
.dataTables_wrapper .dataTable thead .sorting_asc:before,
.dataTables_wrapper .dataTable thead .sorting_desc:before,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
    bottom: calc(50% - .6em);
}

.page-link {
    background-color: rgba(0, 0, 0, .05);
    border: none;
    color: #333;
}

.pagination {
    float: right;
    margin-left: auto !important;
}

.pagination > span {
    display: flex;
}

.pagination a.current {
    background-color: #4d83ff;
    color: #fafafa;
}

.pagination a {
    padding: .4rem .75rem;
    color: #333;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.pagination a:hover {
    background-color: #4d83ff;
    color: #fafafa;
}





/*      alarm major color     */



.bg-Major {
    background-color: darkorange !important;
}
.bg-muted{
  background-color:lightgray;
}
.text-muted{
    color:lightgray!important;
}
.border-Major {
    border-color: darkorange !important;
}

.text-Major {
    color: darkorange !important;
}

.badge-Major {
    color: #fff;
    background-color: darkorange;
}

.bg-trans {
    background: transparent !important;
    box-shadow: none !important;
}

/*              letter-spaing              */
.ls-1{
    letter-spacing: -1px;
}
.ls-2{
    letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}
